.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.cart h1{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 40px;
}

.cartitem img{
    width: 140px;
    height: 150px;
    object-fit: contain;
    padding: 10px;
    margin: 10px;
}
.cartitem{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    /* border: 1px solid hsl(0, 0%, 76%); */
    box-shadow: 0px 0px 10px hsl(0, 0%, 66%);
    width: 550px;
    margin: 20px;
}

.cartitem input{
    text-align: center;
    width: 45px;
}

.cartitem button{
    width: 30px;
}

.cartitem p{
    margin: 10px;
    font-size: 25px;
}

.checkout button{
    margin: 10px;
    margin-top: 20px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    width: 150px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.checkout p{
    font-weight: 600;
    color: black;
    font-size: 18px;
}

@media (max-width:600px){
    .cartitem{
    width: 80vw;
    }
}