*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(11, 10, 10);
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.links{
    display: flex;
    margin-right: 20px;
    padding: 10px;
}

.links a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}